# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Firebase credentials
letterboxd-clone-6156b-firebase-adminsdk-fbsvc-cf0b5cd05c.json
# Environment variables
.env
# Node modules (if not already included)
node_modules/